html { 
    font-family: Arial, Helvetica, sans-serif;
} 

      
body { 
    width: 50%; 
    max-width: 800px; 
    min-width: 480px; 
    margin: 0 auto; 
    background-color:lightslategray;
} 

text {
    color:white;
}

p {
    font-size: 20px;
}
